.wrapper {
	width: 1500px;
	height: auto;
}
.content-width {
	width: 965px;
}
/*------------------------header---------------*/
.header-gorizontal-strip {	
	width: 100%;
}
header {
	height: 250px;
	border:solid transparent  1px;
}
/*------------------------main-----------------*/
.main {
	height: auto;
}
.greeting {
	height: 100px;
}
.content-menu {
	height: 100px;
}
.main-content-flex {
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	display: flex;
	height: auto;
}
/*-------------------------main-content__elem----------*/	
.main-content__elem__head {
	padding-top: 35px;
}
}
.main-content__elem {
	height: 250px;
	width: 220px;
}
.main-content__elem__image {
	height: 175px;
	width: 220px;
}
/*-------------------------footer----------*/	
.footer-box {
	width: 270px;
}
.footer-top__head {
	width: 270px;
	height: 50px;
}
.footer-total	{
	height: 180px;
	bottom: 0;
	width: 100%;
}
