.wrapper-background {
	/*border:solid aqua 2px;*/
	background-image: url(../images/background.png);
}
/*---------border если ндо посмотреть граници блока ----------  */
.b  {
	border:solid transparent /*black*/  1px;
}
/*--------------------------header----------------------------*/
.header-gorizontal-strip {
	margin-top: 100px;
	background:#fefefe;
    border-top:solid #f1f0f0 2px;
    border-bottom: :solid #f1f0f0 2px;
}
/*--------------------------main----------------------------*/
.main-content__elem__image {
	background: #fefefe;
	border:solid #f1f0f0 2px;
}
.revers	{
	transform: scaleX(-1);
}
.header__main-menu ul li {
	padding-bottom: 8px;
}
.header__main-menu ul li:hover {
	border-bottom: solid red 2px;
}
.page-buttons-menu {
	margin-top:20px;
}    
.page-buttons-menu ul li {
	text-align: center;
	padding-top: 4px;
}
/*------------------form---------------------------------*/
#find {
	width: 221px;
}
/*----------------------foorer---------------------------*/
.footer-top__head {
	background: #fefefe;
	border:solid #f1f0f0 2px;	
}
.footer-top__head h2 {
	margin-top: 16px;
}
.footer p {
	padding: 10px;
}
.footer-box-list ul li a {  
	text-decoration: none;
}
.footer-box-list:last-child {
	margin-right: 60px;
